.t { float: left; font-family:Arial,sans-serif; font-size: 1em; line-height: 2.3em; margin-right: 0px; width:140px;}

@font-face {
    font-family: 'SAS1'; /*a name to be used later*/
    src: url('../fonts/Bienchena.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'SAS2'; /*a name to be used later*/
    src: url('../fonts/Bienchenb.ttf'); /*URL to font*/
}

.deutschTest { float: left; font-family:SAS1,Arial,sans-serif; font-size: 3em; line-height: 1.5em; margin-right: 0px; width:360px;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    background-image:    -moz-linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    background-image:     -ms-linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    background-image:      -o-linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    background-image:         linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    /*background-position: 50% 17px; */
    background-size: 1.5em 1.5em;	
}


@media print {
  /* zusätzliche oder abweichende CSS-Regeln für Drucker */
  
  header, footer { display: none; }
  
  #content-wrap {
    padding: 0;
}
.row {width: 100%; max-width: auto; }
#content-wrap #main {
    padding: 0;
}
.eight, .row .eight {
    width: 100%;
}

.t { width:159px;}
.deutschTest { width: 638px; }  
}
