[href^="http"]::after {
  content: '(external link)';
  display: inline-block;
  width: 1em;
  height: 1em;
  text-indent: 1em;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(../images/Icon_External_Link.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-left: .4em;
}

.reveal { 
    display: none;
    color: #6c944d;
    font-style: italic;
    font-weight: bold;
}

.t { float: left; font-family:Arial,sans-serif; font-size: 1em; line-height: 2.3em; margin-right: 0px; width:140px;}

.tImages {
    border: 1px solid black;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    width: 47%;
    text-align: center;
}

.tImages1 {
    float: left;
}

.tImages2 {
    float: right;
}

.tImages i {
    margin: 0 10px;
    font-size: 150%;
}

i.fa-separator {
    margin-left: 0;
    opacity: 0.5;
}

.tFull p {
    margin-left: 62%;
}

m {
    font-family: "Times New Roman", "Times", serif;
    font-style: italic;
}

@font-face {
    font-family: 'SAS'; /*a name to be used later*/
    src: url('../fonts/Bienchena.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'SAS'; /*a name to be used later*/
    src: url('../fonts/Bienchenb.ttf'); /*URL to font*/
    font-style: italic;
}

.deutschTest {
	float: left; font-family:SAS,Arial,sans-serif; font-size: 3em; line-height: 1.5em; margin-right: 0px; width:360px; height: 60px;
	overflow:hidden;
}

.deutschTest2 { float: left; font-family:SAS1,Arial,sans-serif; font-size: 3em; line-height: 1.5em; margin-right: 0px; width:360px;
/* Background is not printed! */
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    background-image:    -moz-linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    background-image:     -ms-linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    background-image:      -o-linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    background-image:         linear-gradient(hsla(0,0%,0%,0) 65%, hsla(0,25%,50%,.5) 65%, hsla(0,0%,0%,0) 66%, hsla(0,0%,0%,0) 85%, hsla(0,25%,50%,.5) 86%, hsla(0,0%,0%,0) 87%);
    /*background-position: 50% 17px; */
    background-size: 1.5em 1.5em;	
}

.image-button:hover {
    opacity:0.6;
}

#print-button {
    position: absolute;
    top: 60px;
    right: 10px;
}

#reveal-button {
    position: absolute;
    top: 60px;
    right: 90px;
}

.emoji { 
    width: 100%;
}
.emoji-symbol { 
    vertical-align: middle;
    font-size: 4em;
    padding-right: 30px;
    width: 20%;
    text-align: center;
}
.emoji-descr {
    font-size: 0.7em;   
}
.emoji tr { 
    width: 100%;
    border-bottom: 1px dashed gray; 
}

table.vocabulary, .vocabulary td, .vocabulary th {
    border: 1px solid black;
}
table.vocabulary {
    width: 100%;
    border-collapse: collapse;
}
table.vocabulary td:nth-child(0), table.vocabulary td:nth-child(1) {
    width: 50%;
}
.vocabulary td {
    text-align: center;
    height: 6ex;
}


@media print {
    /* zusätzliche oder abweichende CSS-Regeln für Drucker */

    header, footer { display: none; }

    #print-button,#reveal-button { display: none; }

    #content-wrap {
        padding: 0;
    }
    .row {width: 100%; max-width: auto; }
    #content-wrap #main {
        padding: 0;
    }
    .eight, .row .eight {
        width: 100%;
    }

    .t { width:159px;}
    .deutschTest { width: 638px; }
    .page {
        padding-bottom: 0;
        margin-bottom: 0;
    }  
    .noprint {
        display: none;
    }
}

/* colors from https://clrs.cc/ */
.colorNavy { color: #001f3f; }
.colorBlue { color: #0074D9; }
.colorAqua { color: #7FDBFF; }
.colorTeal { color: #39CCCC; }
.colorOlive { color: #3D9970; }
.colorGreen { color: #2ECC40; }
.colorLime { color: #01FF70; }
.colorYellow { color: #FFDC00; }
.colorOrange { color: #FF851B; }
.colorRed { color: #FF4136; }
.colorMaroon { color: #85144b; }
.colorFuchsia { color: #F012BE; }
.colorPurple { color: #B10DC9; }
.colorBlack { color: #111111; }
.colorGray { color: #AAAAAA; }
.colorSilver { color: #DDDDDD; }