<!DOCTYPE html>
<!--[if lt IE 8 ]>
<html class="no-js ie ie7" lang="{{ page.lang | default: site.lang | default: "de" }}"> <![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie ie8" lang="{{ page.lang | default: site.lang | default: "de" }}"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie ie9" lang="{{ page.lang | default: site.lang | default: "de" }}"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "de" }}"> <!--<![endif]-->
<head>

    <!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Schulaufgabenhelfer - {{ page.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <!-- CSS
     ================================================== -->
    <link rel="stylesheet" href="{{ "css/style.css" | relative_url }}">

    <!-- Script - will be loaded at the end of the document
    ================================================== -->

    <!-- Favicons
     ================================================== -->
    <link rel="shortcut icon" href="{{ "favicon.png" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
          integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
          crossorigin="anonymous">

    <!-- Other Meta-Tags
     ================================================== -->
    <meta name="battery-savings" content="allow-reduced-framerate allow-reduced-script-speed">
</head>

<body>

<!-- Header
================================================== -->
<header id="top">

    <div class="row">

        <div class="header-content twelve columns">

            <h1 id="logo-text"><a href="index.html" title="">Schulaufgaben</a></h1>
            <!-- p id="intro">Put your awesome slogan here...</p -->
            {% if page.navcategory %}
            <a href="javascript:window.print()" id="print-button"><img src="{{ "images/print.png" | relative_url }}" srcset="{{ "images/print.png" | relative_url }} 1x, {{ "images/print_@2.png" | relative_url }} 2x" alt="Seite ausdrucken" /></a>
            {% endif %}
        </div>

    </div>

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Zeige Menü">Zeige Menü</a>
        <a class="mobile-btn" href="#" title="Verstecke Menü">Verstecke Menü</a>

        <div class="row">

            <ul id="nav" class="nav">
                <li><a href="{{ "index.html" | relative_url }}">Startseite</a></li>
                <li class="{% if page.navcategory == "mathe" %}current {% endif %}has-children"><a href="#">Mathe</a>
                <ul>
                    <li><a href="{{ "mathe/multi.html?max=100" | relative_url }}">Multiplikation Zahlenraum 1-100</a></li>
                    <li><a href="{{ "mathe/divi_1-100.html" | relative_url }}">Division Zahlenraum 1-100</a></li>
                    <li><a href="{{ "mathe/add.html?max=1000" | relative_url }}">Addition Zahlenraum 1-1.000</a></li>
                    <li><a href="{{ "mathe/sub.html?max=1000" | relative_url }}">Subtraktion Zahlenraum 1-1.000</a></li>
                    <li><a href="{{ "mathe/multi.html?max=1000" | relative_url }}">Multiplikation Zahlenraum 1-1.000</a></li>
                    <li><a href="{{ "mathe/gleichungen.html" | relative_url }}">Gleichungen</a></li>
                </ul>
                </li>
                <li class="{% if page.navcategory == "deutsch" %}current {% endif %}has-children"><a href="#">Deutsch</a>
                <ul>
                    <li><a href="{{ "deutsch/plural.html" | relative_url }}">Plural</a></li>
                    <li><a href="{{ "deutsch/emojis.html" | relative_url }}">Emojis</a></li>
                </ul>
                </li>
                <li class="{% if page.navcategory == "english" %}current {% endif %}has-children"><a href="#">Englisch</a>
                <ul>
                    <li><a href="{{ "english/vocabulary.html" | relative_url }}">Vokabeln</a></li>
                </ul>
                </li>
            </ul> <!-- end #nav -->

        </div>

    </nav> <!-- end #nav-wrap -->

</header> <!-- Header End -->

<!-- Content
================================================== -->
<div id="content-wrap">

    <div class="row">

        <div id="main" class="eight columns">

            <section class="page">

                {{ content  | extlinks }}

            </section> <!-- End page -->

        </div> <!-- End main -->


    </div> <!-- end row -->

</div> <!-- end content-wrap -->


<!-- Footer
================================================== -->
<footer>

    <div class="row">

        <div class="three columns info">

            <h3>Schulaufgaben</h3>

            <p>Individualisierte Aufgaben
            </p>

        </div>

        <div class="five columns">
            <h3 class="social">Navigate</h3>

            <ul class="navigate group">
                <li><a href="{{ "index.html" | relative_url }}">Startseite</a></li>
                <li><a href="{{ "mathe/multi.html?max=100" | relative_url }}">Multiplikation Zahlenraum 1-100</a></li>
                <li><a href="{{ "mathe/divi_1-100.html" | relative_url }}">Division Zahlenraum 1-100</a></li>
                <li><a href="{{ "mathe/add.html?max=1000" | relative_url }}">Addition Zahlenraum 1-1.000</a></li>
                <li><a href="{{ "mathe/sub.html?max=1000" | relative_url }}">Subtraktion Zahlenraum 1-1.000</a></li>
                <li><a href="{{ "mathe/multi.html?max=1000" | relative_url }}">Multiplikation Zahlenraum 1-1.000</a></li>
                <li><a href="{{ "mathe/gleichungen.html" | relative_url }}">Gleichungen</a></li>
                <li><a href="{{ "deutsch/plural.html" | relative_url }}">Deutsch Plural</a></li>
                <li><a href="{{ "deutsch/emojis.html" | relative_url }}">Deutsch Emojis</a></li>
                <li><a href="{{ "english/vocabulary.html" | relative_url }}">English Vocabulary</a></li>
                <li><a href="{{ "impressum.html" | relative_url }}">Impressum</a></li>
                <li><a href="{{ "datenschutz.html" | relative_url }}">Datenschutzerklärung</a></li>
            </ul>
        </div>

        <p class="copyright">This project is licensed under the <a
                href="https://github.com/ToBeHH/schulaufgabentrainer/blob/master/LICENSE.md">MIT license</a>. <a
                href="https://github.com/ToBeHH/schulaufgabentrainer">Feel free to contribute!</a> &nbsp; Design by <a
                title="Styleshout" href="http://www.styleshout.com/" rel="nofollow" target="_blank">Styleshout</a>.</p>

    </div> <!-- End row -->

    <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-chevron-up"></i></a></div>

</footer> <!-- End Footer-->


<!-- Java Script
================================================== -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.js"
        integrity="sha512-1lagjLfnC1I0iqH9plHYIUq3vDMfjhZsLy9elfK89RBcpcRcx4l+kRJBSnHh2Mh6kLxRHoObD1M5UTUbgFy6nA=="
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="{{ "js/jquery-3.5.1.slim.min.js" | relative_url }}"><\/script>')</script>
<script src="{{ "js/main.js" | relative_url }}"></script>
</body>

</html>
